@import "~tc-ui/src/styles/tc-includes";

.container {
  min-height: calc(100vh - 60px);
  position: relative;
  background-color: $tc-gray-05;

  @media screen and (max-width: $screen-md - 1px) {
    min-height: 0;
  }
}

.separator {
  border-top-color: $tc-gray-20;
  border-top-style: solid;
  border-bottom: none;
  margin: 0 20px;
}

.userSummary {
  padding: 4 * $base_unit 4 * $base_unit;
  padding-top: 6 * $base_unit;
}
.system {
  padding: 4 * $base_unit 0;
}
.menuList {
  padding-top: 2 * $base_unit;
}
.systemTitle {
  font-size: 10px;
  color: $tc-gray-50;
  margin-left: 20px;
  letter-spacing: 0.8px;
}